#formulario {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

#botonBusqueda {
    color: white;
    background-color: black;
    margin-top: 30px;
    margin-left: 40px;
}

.mat-mini-fab {
    margin-right: 15px;
}

#iconoAgregar {
    width: 15px !important;
    height: 15px !important;
    font-size: 15px !important;
    text-align: center;
}

#botonAgregar {
    background-color: rgb(19, 18, 117);
    color: rgb(255, 255, 255);
}