.renglon1 {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    margin-left: 35px;
}

.renglon2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#formulario {
    width: 500px;
}