<mat-toolbar color="warn">
    <img src="../../../../assets/img/logoMI.png" alt="Falta logo" routerLink='/inicio' style="cursor: pointer;">
    <span class="text-dark">&nbsp;&nbsp; <strong> GESTIÓN DE HORARIO DOCENTE</strong></span>
    <span class="example-spacer"></span>

    <!-- SE MUESTRA CUANDO NO HAY NADIE LOGUEADO -->
    <div *ngIf="(!estaLogueado); else menuUsuario" class="text-dark">
        <mat-icon style="vertical-align: middle;">person_off</mat-icon>
        &nbsp;
        <button mat-button>Inicie sesión</button>
    </div>

    <!-- SE MUESTRA CUANDO HAY ALGUIEN LOGUEADO -->
    <ng-template #menuUsuario>
        <mat-icon class="text-dark">person</mat-icon> &nbsp;
        <button mat-button [matMenuTriggerFor]="menu">{{this.nombreUsuario}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="perfil">
                <mat-icon>account_circle</mat-icon>
                <span>Mi perfil</span>
            </button>
            <button mat-menu-item (click)="cerrarSesion()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </ng-template>


</mat-toolbar>