<h2 mat-dialog-title>Editar o eliminar materia</h2>

<mat-dialog-content class="mat-typography">

    <!-- FORMULARIO DE ALTA -->
    <form [formGroup]="formularioEditar" (submit)="this.editarCurso()" id="formulario">
        <!-- BOTONES DE EDITAR Y ELIMINAR -->
        <div class="renglonBotones">
            <!-- BOTON ELIMINAR -->
            <button mat-raised-button (click)="this.eliminarCurso()" class="bg-danger text-white" type="button">
                <i class="fas fa-spinner fa-spin" *ngIf="this.marcadorEliminando"></i>
                <mat-icon *ngIf="!this.marcadorEliminando">delete</mat-icon>
            </button>
        </div>
        <div class="renglon">
            <!-- ID DEL CURSO -->
            <mat-form-field id="id">
                <mat-label>ID del curso</mat-label>
                <input type="text" matInput formControlName="id">
            </mat-form-field>

            <!-- AÑO DE CURSADO -->
            <mat-form-field>
                <mat-label>Año</mat-label>
                <mat-select formControlName="ano">
                    <mat-option></mat-option>
                    <mat-option value="1">1º año</mat-option>
                    <mat-option value="2">2º año</mat-option>
                    <mat-option value="3">3º año</mat-option>
                    <mat-option value="4">4º año</mat-option>
                    <mat-option value="5">5º año</mat-option>
                    <mat-option value="6">6º año</mat-option>
                </mat-select>
                <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
        </div>


        <div class="renglon">
            <!-- DIVISIÓN -->
            <mat-form-field>
                <mat-label>División</mat-label>
                <mat-select formControlName="division">
                    <mat-option></mat-option>
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="C">C</mat-option>
                    <mat-option value="D">D</mat-option>
                    <mat-option value="E">E</mat-option>
                </mat-select>
                <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>

            <!-- TURNO -->
            <mat-form-field>
                <mat-label>Turno</mat-label>
                <mat-select formControlName="turno">
                    <mat-option></mat-option>
                    <mat-option value="M">Mañana</mat-option>
                    <mat-option value="T">Tarde</mat-option>
                    <mat-option value="N">Noche</mat-option>
                </mat-select>
                <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
        </div>

        <!-- BOTONES CANCELAR Y GUARDAR -->
        <div class="renglonBotones">
            <button mat-raised-button class="bg-secondary text-dark mr-2" (click)="this.cerrarVentana()" type="button">Cancelar</button> &nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="bg-success text-dark ml-2" type="submit">
                <i class="fas fa-spinner fa-spin" *ngIf="this.marcadorEditando"></i> Guardar cambios
            </button>
        </div>

    </form>

</mat-dialog-content>